md-card(id="my-page-card")

  div(fxLayout='column', fxFlexFill)

    div(fxFlex="30vh").

    div(fxFlex="60")
      div(fxLayout='row', fxLayoutAlign="center center")

          h1 You must be signed in to access the page

    div(fxFlex)
